[Unit]
Description=Docker Container SDSB
Requires=docker.service
After=docker.service

#
# Folders that should be backed up must be mounted as volumes under /data-to-backup.
#

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run \
  --rm \
  --name sdsb \
  --network host \
  -e "REMOTE_SERVER=backupserver.domain.com" \
  -e "REMOTE_DATA_ROOT=/path/to/backup/data"\
  -e "REMOTE_SNAPSHOT_ROOT=/path/to/backup/snapshots" \
  -e "BANDWIDTH_LIMIT_KBS=1000" \
  -e "SENDGRID_API_KEY=API_KEY_THAT_HAS_MAIL_SEND_PERMISSIONS" \
  -e "NOTIFICATION_EMAIL=gets.an.email.every.time.sdsb.runs@gmail.com" \
  -e "SSH_USERNAME=username_on_backupserver" \
  -e "DRY_RUN=0" \
  -v /home/local_user/.ssh:/root/.ssh:ro \
  \
  -v /data/to/backup/on/local/host/folder1:/data-to-backup/folder1:ro \
  -v /data/to/backup/on/local/host/folder2:/data-to-backup/folder2:ro \
  \
  snorre/sdsb:latest

[Install]
WantedBy=multi-user.target
